<h1>Lists</h1>

 <ul>
<% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list) %></li>
  <li><%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, lists_path(list), data: {turbo_method: :delete} %></li>
  <% end  %>
</ul>

<%= link_to "New list", new_list_path %> %>
<%# <li><%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, lists_path(list), data: {turbo_method: :delete} %></li>
